site_name: Guida pratica - HTCondor & Containers
site_url: https://marcocecca00.github.io/recas-containers-docs/
repo_url: https://github.com/marcocecca00/recas-containers-docs
repo_name: recas-containers-docs

theme:
  name: material
  language: it
  features:
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - toc.integrate
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: blue grey
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Passa al tema scuro
    - scheme: slate
      primary: blue grey
      accent: deep orange
      toggle:
        icon: material/weather-sunny
        name: Passa al tema chiaro

markdown_extensions:
  - toc:
      permalink: true
  - attr_list
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
      auto_title: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.inlinehilite

nav:
  - Home: index.md
  - Uso di immagini Apptainer/Singularity con HTCondor su ReCaS: apptainer_condor.md
  - Uso di Kubernetes con container su ReCaS: kubernetes.md

extra_css:
  - css/overrides.css